.hexagon {
    position: relative;
    width: 100px;
    height: 115.47px;
    background-color: #ccc;
    margin: 57.74px 0;
}

.hexagon::before,
.hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon::before {
    top: -57.74px;
    border-bottom: 57.74px solid #ccc;
}

.hexagon::after {
    bottom: -57.74px;
    border-top: 57.74px solid #ccc;
}

.pressed {
    background-color: #55aaff;
}
